<h3 id="welcome">Welcome, {{username}}!</h3>
<h4>Create a New Post</h4>
<form>
  <div class="form-group">
    <input type="text" class="form-control" id="new-post-title" placeholder="Title">
  </div>
 <div class="form-group">
    <textarea class="form-control" id="new-post" placeholder="Write a New Post" rows="3"></textarea>
  </div>
</form>
<button type="button" class="btn btn-primary" id="post-button">Post</button>
<h4>Your Posts</h4>
{{#if posts.length}}
    {{#each posts as |post|}}
    <div class="card" id={{post.id}}>
  <div class="card-header single-post-title">
    {{post.title}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post.post_content}}</p>
    <a href="/dashboard/edit/{{post.id}}" class="btn btn-primary" id="edit-post">Edit Post</a>
  
  </div>
</div>
{{/each}}
{{/if}}

<script src="../js/dashboard.js"></script>

