{{#each posts as |post|}}
<div class="card">
  <div class="card-header">
   {{post.title}}
    <br>
    - {{user.username}} at {{post.timestamp}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post.post_content}}.</p>
    <a href="/posts/{{post.id}}" class="btn btn-primary" id="view-post" >View Post</a>
  </div>
</div>
{{/each}}