<h3>{{post.title}}</h3>
<h4> - {{user.username}} at {{post.timestamp}} </h4>
    <div class="card">
  <div class="card-header">
    {{post.title}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post.post_content}}.</p>
    </card>
   {{#each comments as |comment|}}
<div class="card">
  <div class="card-body">
    <p class="card-text">{{comment.comment_content}}.</p>
  </div>
</div>
{{/each}}
    <a href="#" class="btn btn-primary">Add a Comment</a>
  </div>
</div>
{{/each}}
{{/if}}

<script src="../js/singlepost.js"></script>